<!DOCTYPE html>
<html>
<head>
    <title>Article Details</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/favicon.ico">
</head>
<body>
    <h1><%= article.title %></h1>
    <p><%= article.content %></p>
    <a href="/articles">Back to articles list</a>
    <br>
    <a href="/">Back to Home</a>
</body>
</html>
